<div class="navbar navbar-default">

    srodek navbar
    {{imie}}

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

</div>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Puste przejazdy</h1>
        <p>koniec z pustym przejazdem!</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Logo</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Deals</a></li>
                <li><a href="#">Stores</a></li> -->
                <li ><a style=" color:gold;" href="#"><b>Dodaj ofertę</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Moje konto </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Moje Przejazdy</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container" >
    <div class="row" style=" margin-bottom: 5%;">
        <div class="col-sm-12" >

            <!-- <b><p>Wyszukaj przejazd</p></b>   -->
            <h4>Oferuję przejazd <b>|</b> Szukam przejazdu</h4>
            <form class="form-inline">
                <input type="email" class="form-control col-xs-12 col-lg-2" size="127" style="height: 53px;" placeholder="np. Warszawa Częstochowa, mały bagaż">
                <button type="button" class="btn btn-success col-xs-12 col-lg-2"><h4><b>Szukaj</b></h4></button>
            </form>

        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
    </div>
</div><br><br>

<footer class="container-fluid text-center">
    sept09 2017 copyright
</footer>