
<nav class="navbar navbar-inverse ">
    <div row="container-fluid">
        <div row="navbarRow">
            <div class="col-md-4">
                <div class="nav navbar-nav container-fluid">
                    <a href="#!/"><b><h5>Szybkie i tanie przesyłki</h5></b></a>
                </div>

            </div>
            <div class="col-md-4">
                <div  row="rowsrodek" >
                        <div class="col-md-4">
                            <a href="#!/transport"><b>Chcę dostarczyc!</b></a>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a href="#!/passage"><b>Chcę wyslac!</b></a>
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div row="prawa">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <a href="#"><span class="glyphicon glyphicon-user"></span> Moje konto </a>
                        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Moje Przejazdy</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</nav>
