<navbar-dir> </navbar-dir>


<div class="input-field col s6" style="margin-bottom:-150px; margin-top:50px;width:80%;margin-left:10%;"> 
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Wpisz czego szukasz (np. Warszawa paczka)</label>
        </div>
<div class="row">


	<div class="container-fluid" style="padding:10%;">
	
	


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12" >
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4" >
			<div class="col s12 m12">
				<h2 class="header">Mala paczka</h2>
				<div class="card horizontal">
					<div class="card-image">
						<img src="https://lorempixel.com/100/190/nature/6"
							style="height: 100%;">
					</div>
					<div class="card-stacked" style="background-color: GhostWhite ;">
						<div class="card-content">
							<p>Chcialbym wyslac mala paczke z butami</p>
							<br> <b>Skad :</b> Czestochowa, Wyczerpy<br> <b>Dokad
								:</b> Warszawa, Wola<br> <b>Wielkosc :</b> mala<br> <br>
							<br> <b>Cena :</b> 30zl
						</div>
						<div class="card-action">
							<a href="#" style="float: right;">Szczegoly</a>
						</div>
					</div>
				</div>
			</div>
		</div>




		<footer-dir></footer-dir>