<navbar-dir> </navbar-dir>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="form-group">
                <label for="typPaczki">Typ paczki</label>
                <select name="cars" id="typPaczki">
                    <option value="volvo">Elektronika</option>
                    <option value="saab">Motoryzacja</option>
                    <option value="fiat">Kolekcje i sztuka</option>
                    <option value="audi">Inne</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ilosc">ilosc</label>
                <select name="cars" id="ilosc">
                    <option value="volvo">1</option>
                    <option value="saab">2</option>
                    <option value="fiat">3 </option>
                    <option value="audi">...</option>
                </select>
            </div>

            <div class="form-group">
                <label for="dodatkoweInfo">Dodatkowe informacje </label>
                <textarea class="form-control" id="dodatkoweInfo" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="wielkosc">Wielkosc (m^2)</label>
                <input type="text" class="form-control" id="wielkosc">
            </div>



            <div class="form-group">
                <label for="odbiorPaczkiMiejsce">Odbior paczki - Miejsce</label>
                <input type="text" class="form-control" id="odbiorPaczkiMiejsce">
            </div>

            <div class="form-group">
                <label for="dostarczeniePaczkiMiejsce">Dostarczenie paczki - Miejsce</label>
                <input type="text" class="form-control" id="dostarczeniePaczkiMiejsce">
            </div>

            <div class="form-group">
                <label for="odbiorPaczkiData">Odbior paczki- Data</label>
                <input type="text" class="form-control" id="odbiorPaczkiData">
            </div>

            <div class="form-group">
                <label for="dostarczeniaPaczkiData">Dostarczenie paczki - Data</label>
                <input type="text" class="form-control" id="dostarczeniaPaczkiData">
            </div>



            <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        </div>
        <div class="col-md-4"></div>
    </div>
</div>




<footer-dir></footer-dir>