<navbar-dir> </navbar-dir>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="form-group">
                <label ><h2>Skąd chcesz wysłac przesyłke</h2></label>
                <label > Zaznacz miejsce skąd paczka ma byc zabrana</label>
                <label > a także zaznacz powierzchnie na której jestes  </label>
                <label > w stanie dostarczyć przesyłke od Przewoźnika</label>
                <map-start-dir></map-start-dir>
            </div>

            <div class="forsm-group">

                <label > <h2> Gdzie chcesz dostarczyć przesyłke </h2> </label>
                <label > Zaznacz miejsce gdzie paczka ma byc dostarczona</label>
                <label > a także zaznacz powierzchnie na której jestes  </label>
                <label > w stanie odebrac przesyłke od Przewoźnika</label>
                <map-end-dir></map-end-dir>
            </div>

            <div class="form-group">
                <label for="startTravelTime">Poczatek podrózy - Data</label>
                <input type="text" class="form-control" id="startTravelTime">
            </div>

            <div class="form-group">
                <label for="endTravelTime">Koniec podrózy - Data</label>
                <input type="text" class="form-control" id="endTravelTime">
            </div>

            <div class="form-group">
                <label for="rozmiarPaczki">Opisz przesyłke(rozmiar, waga, wytrzymałość,ilosc)</label>
                <textarea class="form-control" id="rozmiarPaczki" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="dodatkoweInfo">Dodatkowe informacje </label>
                <textarea class="form-control" id="dodatkoweInfo" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="odbiorPaczkiMiejsce">Odbior paczki - Miejsce</label>
                <input type="text" class="form-control" id="odbiorPaczkiMiejsce">
            </div>

            <div class="form-group">
                <label for="dostarczeniePaczkiMiejsce">Dostarczenie paczki - Miejsce</label>
                <input type="text" class="form-control" id="dostarczeniePaczkiMiejsce">
            </div>

            <div class="form-group">
                <label for="odbiorPaczkiData">Odbior paczki- Data</label>
                <input type="text" class="form-control" id="odbiorPaczkiData">
            </div>

            <div class="form-group">
                <label for="dostarczeniaPaczkiData">Dostarczenie paczki - Data</label>
                <input type="text" class="form-control" id="dostarczeniaPaczkiData">
            </div>

            <button type="button" class="btn btn-info">Wyslij paczke</button>


            <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        </div>
        <div class="col-md-4"></div>
    </div>
</div>




<footer-dir></footer-dir>