<navbar-dir> </navbar-dir>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Mała paczka 4 kg</div>
                <div class="panel-body"><img src="https://cdn.pixabay.com/photo/2016/03/08/07/04/package-delivery-1243499_960_720.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">5kg paczka, transport pilny na dzisiaj</div>
            </div>
        </div>
    </div>
</div><br><br>

<footer-dir></footer-dir>