<navbar-dir> </navbar-dir>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="form-group">
                <label for="startTravelPlace">Poczatek podrózy - Miejsce</label>
                <input type="text" class="form-control" id="startTravelPlace">
            </div>

            <div class="form-group">
                <label for="endTravelPlace">Koniec podrózy - Miejsce</label>
                <input type="text" class="form-control" id="endTravelPlace">
            </div>

            <div class="form-group">
                <label for="startTravelTime">Poczatek podrózy - Data</label>
                <input type="text" class="form-control" id="startTravelTime">
            </div>

            <div class="form-group">
                <label for="endTravelTime">Koniec podrózy - Data</label>
                <input type="text" class="form-control" id="endTravelTime">
            </div>

            <div class="form-group">
            <label for="typPojazdy">Typ pojazdu</label>
            <select name="cars" id="typPojazdy">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
            </div>

            <div class="form-group">
                <label for="pojemnosc">Pojemnosc (m^2)</label>
                <input type="text" class="form-control" id="pojemnosc">
            </div>

            <div class="form-group">
                <label for="dodatkoweInfo">Dodatkowe informacje</label>
                <textarea class="form-control" id="dodatkoweInfo" rows="5"></textarea>
            </div>

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<footer-dir></footer-dir>