<navbar-dir> </navbar-dir>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!--<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>-->
            <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->
        </div>
        <div class="col-md-4">

            <div class="form-group">
                <label ><h2>Początek podróży  w trakcie której mogę przewieźć przesyłkę</h2></label>
                <label >  Zaznacz miejsce, skąd rozpoczynasz podróż, a także zaznacz </label>
                <label >  powierzchnię na którą jesteś w stanie udać się po przesyłkę</label>
                <map-start-dir></map-start-dir>
            </div>

            <div class="forsm-group">

                <label ><h2>Koniec podróży w trakcie której moge przewieźć przesyłkę</h2></label>
                <label >  Zaznacz miejsce, gdzie kończysz podróż, a także zaznacz </label>
                <label >  powierzchnię na którą jesteś w stanie udać się z przesyłką</label>
                <map-end-dir></map-end-dir>
            </div>

            <div class="form-group">
                <label for="startTravelTime">Początek podróży - Data</label>
                <input type="text" class="form-control" id="startTravelTime">
            </div>

            <div class="form-group">
                <label for="endTravelTime">Koniec podróży - Data</label>
                <input type="text" class="form-control" id="endTravelTime">
            </div>

            <div class="form-group">
            <label for="typPojazdy">Typ pojazdu</label>
            <select name="cars" id="typPojazdy">
                <option value="Osobowy">Osobowy</option>
                <option value="Dostawczy">Dostawczy</option>
                <option value="Motocykl">Motocykl</option>
                <option value="Inne">Inne</option>
            </select>
            </div>
            <div class="form-group">
                    <label for="dodatkoweInfoPojazd">Dodatkowe informacje na temat pojazdu</label>
                    <textarea class="form-control" id="dodatkoweInfoPojazd" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="pojemnosc">Pojemność jaką jestem w stanie przewieźć (m^2)</label>
                <input type="text" class="form-control" id="pojemnosc">
                <label for="dodatkoweInfoIlosc">Dodatkowe informacje na ilości przewiezionego ładunku</label>
                <textarea class="form-control" id="dodatkoweInfoIlosc" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="dodatkoweInfo">Dodatkowe informacje na temat podróży </label>
                <textarea class="form-control" id="dodatkoweInfo" rows="5"></textarea>
            </div>

            <button type="button" class="btn btn-info">Poinformuj innych o Twojej podróży!</button>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<footer-dir></footer-dir>