<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap/bootstrap.css"></link>
</head>
<body>
    <div ng-app="passage">
    </div>

        <script src="js/jquery/jquery.js"></script>
        <script src="js/angular/angular.js"></script>
        <script src="js/angular/angular-route.js"></script>
        <script src="js/angular/angular-resource.js"></script>
        <script src="js/main.js"></script>
</body>
</html>